<div class="gdc-logo-list-simple">
  {% for block in section.blocks %}
      {%  if block.type == 'logo_image' %}
        <a class="gdc-logo-list-simple__image-wrapper" href="{{ block.url }}">

            {% render 'gdc-image' image: block.image %}

        </a>
      {% endif %}
  {% endfor %}
</div>

<style>
  .gdc-logo-list-simple {
    display: flex;
    max-width: 100%;
  }

  .gdc-logo-list-simple__image-wrapper a {
    width: calc(100% / 4);
  }

</style>