<div class="gdc-logo-list-simple">
  {% for block in section.blocks %}
      {%  if block.type == 'logo_image' %}
        <a href="{{ block.url }}">
          <div class="gdc-logo-list-simple__image-wrapper">
            {% render 'gdc-image' image: block.image %}
          </div>
        </a>
      {% endif %}
  {% endfor %}
</div>

<style>
  .gdc-logo-list-simple {
    display: flex;
  }

  .gdc-logo-list-simple__image-wrapper {

  }
</style>