

      <section class="gdc-biography gdc-text__full-width  section--{{ section.id }}">
        <div class="gdc-biography__content">
          Filmmaker 
          {{ product.metafields.film_info.filmmaker.value }}
        </div>
      </section>

      <style>
        .gdc-biography__content h2 {
          position: relative;
        }

        .gdc-biography__content h2::before {
          content: '';
          background-color: #62CBDF;
          display: inline-block;
          height: 35px;
          width: 5px;
          position: absolute;
          top: 0px;
          left: -20px; 
        }
      </style>
