{%- liquid
  
  assign title = collection.title
  assign text = collection.description
  assign image = collection.image
  
-%}

<section class="gdc-biography-collection__wrapper section--{{ section.id }}">
  <div class="gdc-biography-collection__content">
    {% if image %}
      <div>
        <div class="gdc-biography-collection__image section--{{ section.id }}">
          {% render 'gdc-image', image: image %}
        </div>
      </div>
    {% endif %}
    <div>
      {% render 'gdc-section-paragraph', title: title, text: text, section: collection.id %}
    </div>
  </div>

</section>

<style>
  .gdc-biography-collection__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eeeeee;
  }

  .gdc-biography-collection__content {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    max-width: 90vw;
  }

  .gdc-biography-collection__image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 60px;
  }

  .gdc-biography-collection__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


</style>