

      <section class="gdc-biography-text section--{{ section.id }}">
        <h2>Courtney Montour</h2>
        <p>Nobis corporis amet voluptate, a at sit et tempore iste sapiente autem atque ullam consequatur, est cupiditate non quia distinctio porro suscipit rerum similique velit consectetur? Rem officia cupiditate quis culpa nostrum dolorum odit laudantium, error deleniti, porro sed nemo cumque architecto! Veniam veritatis itaque tempora non a sed excepturi explicabo corrupti ullam doloribus, placeat impedit optio. Id distinctio soluta praesentium perferendis illum minus doloremque omnis.</p>
      </section>
