<div class="gdc-logo-list-simple">
  {% for block in section.blocks %}
      {%  if block.type == 'logo_image' %}
        <a class="gdc-logo-list-simple__image-wrapper" href="{{ block.url }}">

            {% render 'gdc-image' image: block.settings.image %}

        </a>
      {% endif %}
  {% endfor %}
</div>

<style>
  .gdc-logo-list-simple {
    display: flex;
    max-width: 100%;
  }

  .gdc-logo-list-simple__image-wrapper {
    width: 250px;
  }

  .gdc-logo-list-simple__image-wrapper img {
    width: 100%;
    padding: 10px;
    object-fit: contain;
  }

</style>