

      <section class="gdc-biography">
        <div class="gdc-biography__content gdc-text__full-width">
          {{ product.metafields.film_info.filmmaker.value }}
        </div>
      </section>

      <style>
        .gdc-biography {
          background-color: #F2F2F2;
          padding: 30px 0;
        }

        .gdc-biography__content h2 {
          position: relative;
          margin-top: 0;
        }

        .gdc-biography__content h2::before {
          content: '';
          background-color: #62CBDF;
          display: inline-block;
          height: 35px;
          width: 5px;
          position: absolute;
          top: 0px;
          left: -20px; 
        }
      </style>
