<div class="gdc-text__full-width">

  {%- for block in section.blocks -%}
    {% if block.type == 'accordion' %}
      <div x-data="{ open: false }">
        <div @click="open = ! open" class="gdc-accordion__button">
          <span  class="gdc-accordion__indicator" x-show="open">-</span>
          <span  class="gdc-accordion__indicator" x-show="!open">+</span>
          <h2 class="gdc-accordion__title">{{ block.settings.title }}</h2>
        </div>
        
        <div class="gdc-accordion__contents" x-show="open">{{ block.settings.contents }}</div>
      </div>
    {%- endif -%}
  {% endfor %}

</div>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
  {
    "type": "accordion",
    "name": "Full Width Accordion",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Title", 
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "color",
        "id": "ind_color",
        "label": "Indicator Color"
      },
      {
        "type": "color",
        "id": "tab_color",
        "label": "Tab Color"
      },
      {
        "type": "color",
        "id": "tab_font_color",
        "label": "Tab Font Color"
      },
      {
        "type": "color",
        "id": "content_color",
        "label": "Content Color"
      }
    ]
  }
  ]
}
   





{% endschema %}