{% comment %}
  USING alpine.js
{% endcomment %}

<div class="gdc-accordion__wrapper">
TEST
  {%- for block in section.blocks -%}
    {% if block.type == 'accordion_section' %}
      <div x-data="{ open: false }">
        <div @click="open = ! open" class="gdc-accordion__button">
          <span  class="gdc-accordion__indicator" x-show="open">-</span>
          <span  class="gdc-accordion__indicator" x-show="!open">+</span>
          <h2 class="gdc-accordion__title">{{ block.settings.title }}</h2>
        </div>
        
        <div class="gdc-accordion__contents" x-show="open">{{ block.settings.contents }}</div>
      </div>
    {%- endif -%}
  {% endfor %}

</div>

<style>
  .gdc-accordion__wrapper {
    width: 900px;
    max-width: 90vw;
    margin: 0 auto;
  }
  .gdc-accordion__button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0 0 0;
  }

  .gdc-accordion__indicator {
    font-size: 45px;
    width: 40px;
    color: rgb(55, 86, 177);
    transform: translateY(-5px);
  }

  .gdc-accordion__title {
    flex-grow: 1;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
  }

  .gdc-accordion__contents {
    padding-left: 40px;
  }
</style>

{% schema %}
{
  "name": "GDC: Accordion",
  "settings": [
    {
      "type": "header",
      "content": "Accordion Style Settings"
    },
    {
      "type": "color",
      "id": "ind_color",
      "label": "Indicator Color"
    },
    {
      "type": "color",
      "id": "tab_color",
      "label": "Tab Color"
    },
    {
      "type": "color",
      "id": "tab_font_color",
      "label": "Tab Font Color"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content Color"
    }
  ],
  "blocks": [
    {
      "type": "accordion_section",
      "name": "Accordion Section",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Title", 
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "GDC: Accordion",
      "category": "GDC Custom Components"
    }
  ]
}
{% endschema %}